@import './assets/styles/spacings.scss';

*, body, p{
  font-family: sans-serif;
}

body{
  margin: 0 auto;
  overflow-y: hidden;
  background-image: radial-gradient(circle at 50% 0%, #140c83, #000, #000);
  background-color: #ccc;
  height: 100vh;
}

p, button, input, small{
  color: #333;
}

input{
  border-radius: 4px;
  padding: 8px;
  border: solid 1px #ccc;
  width: 50%;
  max-width: 230px;
}

/* Utillity classes */

.is-flex{
  display: flex;
  justify-content: space-around;
}

.is-column{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.is-start{
  align-items: flex-start;
}

.is-end{
  justify-content: end;
}

.is-centered{
  display: flex;
  justify-content: center;
}

.container{
  max-width: 768px;
  width: 90%;
}

.text-center{
  text-align: center;
}

.w-100{
  width: 100%;
}

.m-y-8{
  margin-top: 8px;
  margin-bottom: 8px;
}

.m-y-16{
  margin-top: 16px;
  margin-bottom: 16px;
}

.m-y-0{
  margin-top: 0px;
  margin-bottom: 0px;
}

.m-t-0{
  margin-top: 0px;
}

.m-t-2{
  margin-top: 2px !important;
}

.m-t-4{
  margin-top: 4px !important;
}

.m-t-8{
  margin-top: 8px !important;
}

.m-t-12{
  margin-top: 12px !important;
}

.m-t-16{
  margin-top: 16px !important;
}

.m-t-32{
  margin-top: 32px !important;
}

.m-t-64{
  margin-top: 64px !important;
}

.m-t--15{
  margin-top: 15vh !important;
}

.p-t--15{
  padding-top: 15vh !important;
}

.m-b-8{
  margin-bottom: 8px !important;
}

.m-b-16{
  margin-bottom: 16px !important;
}

.m-b-32{
  margin-bottom: 32px !important;
}

.p-t-64{
  padding-top: 64px !important;
}

.m-l-8{
  margin-left: 8px;
}


.m-0-a{
  margin: 0 auto;
}

.p-o{
  padding: 0px;
}

.f-sans{
  font-family: sans-serif;
}

.f-warning{
  color: #f00;
}

.f-white{
  color: #fff !important;
}

.f-gray{
  color: #aaa !important;
}

.f-10{
  font-size: 10px;
}


.f-12{
  font-size: 12px;
}

.f-14{
  font-size: 14px;
}

.f-16{
  font-size: 16px;
}

.glass{
  background-color: rgba(255,255,255,.04);
  backdrop-filter: blur(2px);
  border: 2px solid #777;
  border-left: 2px solid #eee;
  border-top: 2px solid #eee;
  box-shadow: 5px 5px 5px rgba(0,0,0,.5);
}

.glass-border{
  border: 2px solid #777;
  border-left: 2px solid #eee;
  border-top: 2px solid #eee;
}