$spacing_0: 0;
$spacing_1: 1;
$spacing_2: 2;
$spacing_4: 4;
$spacing_8: 8;
$spacing_12: 12;
$spacing_16: 16;
$spacing_20: 20;
$spacing_24: 24;
$spacing_32: 32;
$spacing_40: 40;
$spacing_48: 48;
$spacing_56: 56;
$spacing_64: 64;
$spacing_72: 72;
$spacing_80: 80;
$spacing_88: 88;
$spacing_96: 96;

$spaceamounts: (
  $spacing_0
  $spacing_1
  $spacing_2
  $spacing_4
  $spacing_8
  $spacing_12
  $spacing_16
  $spacing_20
  $spacing_24
  $spacing_32
  $spacing_40
  $spacing_48
  $spacing_56
  $spacing_64
  $spacing_72
  $spacing_80
  $spacing_88
  $spacing_96
);

$sides: (top, bottom, left, right); // Leave this variable alone

@mixin spacings($target){
  @each $space in $spaceamounts {
    .m-#{$space}#{if($target == '', '', '-' + $target)} {
      margin: #{$space}px !important;
    }
    .p-#{$space}#{if($target == '', '', '-' + $target)} {
      padding: #{$space}px !important;
    }

    .m-x-#{$space}#{if($target == '', '', '-' + $target)} {
      margin-left: #{$space}px !important;
      margin-right: #{$space}px !important;
    }
    .p-x-#{$space}#{if($target == '', '', '-' + $target)} {
      padding-left: #{$space}px !important;
      padding-right: #{$space}px !important;
    }

    .m-y-#{$space}#{if($target == '', '', '-' + $target)} {
      margin-top: #{$space}px !important;
      margin-bottom: #{$space}px !important;
    }
    .p-y-#{$space}#{if($target == '', '', '-' + $target)} {
      padding-top: #{$space}px !important;
      padding-bottom: #{$space}px !important;
    }

    @each $side in $sides {
      .m-#{str-slice($side, 0, 1)}-#{$space}#{if($target == '', '', '-' + $target)} {
        margin-#{$side}: #{$space}px !important;
      }
      .p-#{str-slice($side, 0, 1)}-#{$space}#{if($target == '', '', '-' + $target)} {
        padding-#{$side}: #{$space}px !important;
      }
    }
  }
}

@media(max-width: 768px){
  @include spacings('touch');
}


.m-0-a{
  margin: 0 auto !important;
}

.m-0-a-touch{
  @media(max-width: 768px){
    margin: 0 auto !important;
  }
}

.m-x-a {
  margin-right: auto;
  margin-left: auto;
}

.m-r-a {
  margin-right: auto;
}

.m-l-a {
  margin-left: auto;
}
